version: '3.8'

services:
  metabase:
    image: metabase/metabase
    ports:
      - "3000:3000"
    environment:
      MB_DB_TYPE: h2
      MB_DB_FILE: /metabase.db/metabase.db
    volumes:
      - ./metabase-app-data:/metabase.db  # Make sure to mount the folder containing metabase.db.mv.db
      - ./data:/data  # Your data files
