# Module Owners
# modules/data-layer/        
modules/orchestrator/      @Acon3078
modules/strategy-agent/    @asotogrande
modules/dr-anticorruption/ @Bcollado0310
modules/supplychain-risk/  @karlmaximilienkohler
modules/policy-simulator/  @andresgerli

# Default Owners 
* @OscarDiez @Acon3078
